################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookApi/bin/Debug/net8.0
/BookApi/obj
/BookApiTest/bin/Debug/net8.0
/BookApiTest/obj
/.vs
